*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Fix scroll bar functinality */
* {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
html::-webkit-scrollbar {
    display: none; 
}

/* Set up nav bar */
header {
    background: linear-gradient(120deg, #ffd383 53%, white 47%);
    /* background: black; */
    height: 100vh;
    width: 100%
    /* background-color: white;
    box-shadow: 0 2px 15px 0 black;
    position: fixed;
    width: 100% */
}

.wave {
    position: absolute;
    width: 200%;
    height: 120px;
    left: -48vw;
    transform: rotate(-60deg);
    background: url(./imgs/wave.png) center;
    background-size: 100vw 120px;
    animation: waving 10s linear infinite;
}

@keyframes waving{
    from {
        background-position-x: 0vw;
    }
    to {
        background-position-x: 100vw;
    }
}

@media (max-width: 1000px) {
    .wave {
        height: 60px;
        background-size: 100vw 60px;
        left: -48vw;
    }
}
nav {
    display: flex;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 8rem;
    letter-spacing: 3px;
    font-weight: bolder;
}
.logo a{
    text-decoration: none;
    color: white;
}

.nav-links{
    height: 50%;
    width: 30%;
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
    letter-spacing: 1px; 
    transition: font-size 0.2s ease;
}

.nav-links a:hover {
    color: orange;
    transform: translate(300px);
    font-size: 5.5rem;
}



/* Decorate body */
.hook{
    /* background-image: linear-gradient(gray, black); */
    font-size: 50px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About me */
#about-me{
    width: 90%;
    height: 100vh;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#about-me img {
    width: 40%;
    height: auto;
    border-radius: 30px;
}

#about-me .article{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vertical-line {
    /* position: absolute; */
    border-left: 1px solid black;
    height: 50%;
}

